body {

    margin:0;

    font-family:Arial, sans-serif;

    background:
    linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.75)
    ),
    url("background.png");

    background-size:cover;

    background-attachment:fixed;

    color:white;

}



header {

    text-align:center;

    padding:60px;

    background:#200000;

}



header h1 {

    font-size:60px;

    margin:0;

}



header p {

    font-size:20px;

}



.card {

    background:#250000;

    width:70%;

    margin:30px auto;

    padding:25px;

    border-radius:15px;

    border:2px solid #ff4500;

}



.card h2 {

    color:#ff6600;

}



li {

    margin:10px;

}



.button {

    display:inline-block;

    padding:15px 35px;

    background:#ff4500;

    color:white;

    text-decoration:none;

    border-radius:10px;

}



.button:hover {

    background:#ff8800;

}



footer {

    text-align:center;

    padding:20px;

    background:#120000;

}
